<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Bootstrap 模板</title>
    <!-- 引入 Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
    <!-- 包括所有已编译的插件 -->
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->

</head>
<body>
    <div class="container">
        <ul class="nav nav-pills">
            <li class="active"><a href="/">第一页</a></li>
            <li><a href="SecPage.html">第二页</a></li>
            <li><a href="ThirdPage.html">第三页</a></li>
            <li><a href="#">第四页</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">第五页
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation"><a role="menuitem" href="FifthPageOne.html">下拉第一页</a></li>
                    <li role="presentation"><a role="menuitem" href="#">下拉第二页</a></li>
                    <li role="presentation"><a role="menuitem" href="#">下拉第三页</a></li>
                </ul>
            </li>

        </ul>
        <div class="row">
            <div class="col-xs-6 col-sm-3"
                 style="background-color: #dedef8;
                 box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                <p>第一行，第一列
                    sakdjfkakfjkjdf skdjfksf jks fksf jksf ks f kf
                    ksdfjkf ksdjf ks f fkfjkds f
                    akdjfkasjf   skdfjksfdjk f
                    askdfjkjfkjf

                </p>
            </div>
            <div class="col-xs-6 col-sm-3"
                 style="background-color: #dedef8;
                 box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                <p>第一行，第二列
                    sakdjfkakfjkjdf skdjfksf jks fksf jksf ks f kf
                    ksdfjkf ksdjf ks f fkfjkds f
                    akdjfkasjf   skdfjksfdjk f
                    askdfjkjfkjf  sakdjfkakfjkjdf skdjfksf jks fksf jksf ks f kf
                    ksdfjkf ksdjf ks f fkfjkds f
                    akdjfkasjf   skdfjksfdjk f
                    askdfjkjfkjf
                </p>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-xs-6 col-sm-3"
                 style="background-color: #dedef8;
                 box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                <p>第一行，第三列
                    sakdjfkakfjkjdf skdjfksf jks fksf jksf ks f kf
                    ksdfjkf ksdjf ks f fkfjkds f
                    akdjfkasjf   skdfjksfdjk f
                    askdfjkjfkjf  sakdjfkakfjkjdf skdjfksf jks fksf jksf ks f kf
                    ksdfjkf ksdjf ks f fkfjkds f
                    akdjfkasjf   skdfjksfdjk f
                    askdfjkjfkjf  sakdjfkakfjkjdf skdjfksf jks fksf jksf ks f kf
                    ksdfjkf ksdjf ks f fkfjkds f
                    akdjfkasjf   skdfjksfdjk f
                    askdfjkjfkjf
                </p>
            </div>
            <div class="col-xs-6 col-sm-3"
                 style="background-color: #dedef8;
                 box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                <p>第一行，第四列
                    sakdjfkakfjkjdf skdjfksf jks fksf jksf ks f kf
                    ksdfjkf ksdjf ks f fkfjkds f
                    akdjfkasjf   skdfjksfdjk f
                    askdfjkjfkjf
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-offset-3"
                 style="background-color: #dedef8;
                 box-shadow:inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            <p>第二行，第一列
            skdfjkjsdf ksjdf ksdjf  ksdfjksdjfk sdf
            </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6"
                 style="background-color: #dedef8;
                 box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                <p>第三行，第一列</p>
                <hr>
                <p>
                    <abbr class="initialism" title="WORLD WIDE WEB">WWW</abbr>
                </p>
                <hr>
                <ul class="list-unstyled text-capitalize text-left">
                    <li>first</li>
                    <li>second</li>
                    <li>third</li>
                </ul>

            </div>
            <div class="col-xs-6"
                 style="background-color: #dedef8;
                        box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                <h4>第三行，第二列分为四个盒子</h4>
                <ul class="text-center list-inline">
                    <li>第一个盒子</li>
                    <li>第二个盒子</li>
                    <li>第三个盒子</li>
                    <li>第四个盒子</li>
                </ul>
                <div class="row">
                    <div class="col-md-6"
                         style="background-color: #8cf858;
                                box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                        <p>第一个盒子</p>
                        <address>
                            <strong>Some Company, Inc.</strong><br>
                            007 street<br>
                            Some City, State XXXXX<br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                    </div>
                    <div class="col-md-6"
                            style="background-color: #8CF858;
                            box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                        <p>第二个盒子</p>
                        <address>
                            <strong>Lyan</strong><br>
                            Email:<a href="mailto:lyan0118@163.com">lyan0118@163.com</a>
                        </address>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6"
                            style="background-color: #8CF858;
                            box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                        <p>第三个盒子</p>
                    </div>
                    <div class="col-md-6"
                            style="background-color: #8CF858;
                            box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                        <p>第四个盒子</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3"
                    style="background-color: #8cf858;
                    box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                <div class="row">
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-sort-by-attributes"></span>
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                    </button>
                    <div class="dropdown pull-right">
                        <button type="button" class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                            主题
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" >
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">Java</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">数据挖掘</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">数据通信/网络</a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation" class="dropdown-header">下拉菜单标题</li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="btn-toolbar pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default">Button1</button>
                            <button type="button" class="btn btn-default">Button2</button>
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown">下拉
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2" >
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="#">Java</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="#">数据挖掘</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="#">数据通信/网络</a>
                                    </li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation" class="dropdown-header">下拉菜单标题</li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-primary">下拉</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="#">first23423423423423434</a></li>
                            <li>2</li>
                            <li>3</li>
                        </ul>
                    </div>
                </div>


            </div>
            <div class="col-xs-6"
                    style="background-color: #8cf858;
                    box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                <table class="table table-striped table-hover table-bordered table-condensed table-responsive">
                    <thead>
                    <tr>
                        <th>服务器地址</th>
                        <th>业务</th>
                        <th>功能</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>172.17.18.80</td>
                        <td>DNS1</td>
                        <td>悬停</td>
                    </tr>
                    <tr class="warning">
                        <td>172.17.18.81</td>
                        <td>DNS2</td>
                        <td>警告</td>
                    </tr>
                    <tr class="danger">
                        <td>172.17.18.81</td>
                        <td>DNS2</td>
                        <td>危险</td>
                    </tr>
                    <tr class="info">
                        <td>172.17.18.81</td>
                        <td>DNS2</td>
                        <td>信息变化</td>
                    </tr>
                    <tr class="success">
                        <td>172.17.18.81</td>
                        <td>DNS2</td>
                        <td>成功</td>
                    </tr>
                    <tr>
                        <td>172.17.18.81</td>
                        <td>DNS2</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-3"
                    style="background-color: #8cf858;
                    box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-addon">@</span>
                        <input type="text" class="form-control" placeholder="163.com">
                    </div>

                </form>
            </div>
            <div class="col-sm-6 col-lg-8"></div>
        </div>
    </div>
</body>
</html>