{% extends 'layout.html' %}
{% block body %}
    <div class="col-sm-8">
    <form action="" class="form-horizontal"  role="form" id="form1">
            <div class="form-group">
                <label for="dtp_input1" class="col-md-2 control-label">DateTime Picking</label>
                <div class="input-group date form_datetime col-md-5" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                    <input class="form-control" size="16" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
				<input type="hidden" id="dtp_input1" value="" /><br/>
            </div>
            <div class="form-group">
                <label for="dtp_input1" class="col-md-2 control-label">DateTime Picking</label>
                <div class="input-group date form_datetime col-md-5" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                    <input class="form-control" size="16" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
				<input type="hidden" id="dtp_input1" value="" /><br/>
            </div>
    </form>
    <button type="button" id="btn1">add</button>
    <div id="div1">

    </div>
    </div>
    <script type="text/javascript">
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });
    </script>
    <script>
$(document).ready(function(){
  $("#btn1").click(function(){
    $("#form1").append("<div class='form-group'>" +
    "<label for='dtp_input1' class='col-md-2 control-label'>DateTime Picking</label>" +
    "<div class='input-group date form_datetime col-md-5' data-date='1979-09-16T05:25:07Z' data-date-format='dd MM yyyy - HH:ii p' data-link-field='dtp_input1'>" +
    "<input class='form-control' size='16' type='text' value='' readonly>" +
    "<span class='input-group-addon'><span class='glyphicon glyphicon-remove'></span></span>" +
    "<span class='input-group-addon'><span class='glyphicon glyphicon-th'></span></span>" +
    "</div>" +
    "<input type='hidden' id='dtp_input1' /><br/>" +
    "</div>");
      $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });
  });
});
</script>

{% endblock %}