{% extends "layout.html" %}
{% block body %}
    <div class="main-content">
            <!-- 面包屑导航开始 -->
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
				</script>
                <ul class="breadcrumb">
					<li>
						<i class="ace-icon fa fa-home home-icon"></i>
						<a href="/">Home</a>
					</li>
					<li class="">Host</li>
                    <li class="active">Add</li>
				</ul><!-- /.breadcrumb -->
                <!-- #section:basics/content.searchbox -->
				<div class="nav-search" id="nav-search">
					<form class="form-search">
						<span class="input-icon">
							<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
							<i class="ace-icon fa fa-search nav-search-icon"></i>
						</span>
					</form>
				</div>
			</div>
            <!-- 面包屑导航结束 -->

            <div class="page-content">
                <div class="page-content-area">
                    <!-- page-header开始-->
                       <div class="page-header">
                           <h1>
                               Host
                               <small>
                                   <i class="ace-icon fa fa-angle-double-right"></i>
                                   Add
                               </small>
                           </h1>
                       </div>
                    <!-- /.page-header结束 -->
                <div class="row">
                    <div class="col-sm-12">
                        <form class="form-horizontal" role="form" action="/hostpost" method="post">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> IP </label>
                                <div class="col-sm-9">
                                    <input type="text" id="form-field-1" placeholder="0.0.0.0" class="col-xs-10 col-sm-5 input-mask-ip" name="ip"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> GroupName </label>
                                <div class="col-sm-9">
                                    <input type="text" id="form-field-2" placeholder="group" class="col-xs-10 col-sm-5" name="group"/>
                                </div>
                            </div>
                            <div class="clearfix form-actions">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-info" type="submit">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Submit
                                    </button>

                                    &nbsp; &nbsp; &nbsp;
                                    <button class="btn" type="reset">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        Reset
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
    </div>
{% endblock %}