{% extends "layout.html" %}
{% block body %}
<div class="col-sm-8">
    <ol class="breadcrumb">
        <li>Overview</li>
        <li class="active">Product</li>
    </ol>
    {% for group in grouplist %}
        <div class="panel panel-primary">
            <div class="panel-heading">{{group[0]}}</div>
            <table class="table table-striped table-hover table-condensed">
                <th>IP</th><th>GROUPNAME </th><th>STATUS</th><th>操作</th>
                {% for host in hostlist %}
                    {% if host[1]==group[0] %}
                    <tr>
                        <td>{{host[0]}}</td>
                        <td>{{host[1]}}</td>
                        <td></td>
                        <td>
                            <a type="button" class="btn btn-danger" href="/delhost/{{host[0]}}">删除</a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    {% endfor %}
</div>
{% endblock %}