<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Bootstrap 模板</title>
    <!-- 引入 Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
    <!-- 包括所有已编译的插件 -->
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
</head>
<body>
    <nav class="navbar" role="navigation" style="background-color: #438db8">
        <div class="navbar-header">
            <a class="navbar-brand" style="color: #ffffff" href="/">TEST</a>
        </div>
        <div class="pull-right">
            <ul class="nav navbar-nav">
                <li class="dropdown" style="background-color: #882e65">
                    <a class="dropdown-toggle" data-toggle="dropdown" style="color: #ffffff">
                        <span class="glyphicon glyphicon-bell"></span>
                        Alerts
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                           <a href="warning.html">Warning</a>
                        </li>
                        <li>
                            <a href="error.html">Error</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" style="background-color: #50bbd0">
                    <a class="dropdown-toggle" data-toggle="dropdown" style="color: #ffffff">
                        <span class="glyphicon glyphicon-user"></span>
                        Lyan
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a>登录</a></li>
                        <li><a>注销</a></li>
                    </ul>
                </li>
            </ul>

        </div>
        <div class="navbar-form pull-right">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="search">
            </div>
            <button type="submit" class="btn btn-warning">搜索</button>
        </div>

    </nav>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-sm-2">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="/">Dashboard</a></li>
                    <li class="active">
                        <a data-toggle="collapse" href="#collapseOne">Overview
                            <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                        </a>

                    </li>
                    <li class="in"  id="collapseOne">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active"><a href="product.html"><span class="glyphicon glyphicon-chevron-right"></span>   Product</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span>   Test</a></li>
                        </ul>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#collapseTwo">Hosts
                            <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                        </a>

                    </li>
                    <li class="in"  id="collapseTwo">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="addhost.html"><span class="glyphicon glyphicon-chevron-right"></span>   Add</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span>   Delete</a></li>
                        </ul>
                    </li>
                    <script type="text/javascript">
                    $(function () { $('#collapseTwo').collapse('hide')});
                    </script>
                    <li><a href="/">Deploy</a></li>
                </ul>

            </div>
            <div class="col-sm-8">
                <ol class="breadcrumb">
                    <li>Overview</li>
                    <li class="active">Product</li>
                </ol>
                {% for group in grouplist %}
                    <div class="panel panel-default">
                        <div class="panel-heading">{{group[0]}}</div>
                        <table class="table">
                            <th>IP</th><th>GROUPNAME </th>
                            {% for host in hostlist %}
                                {% if host[1]==group[0] %}
                                <tr><td>{{host[0]}}</td><td>{{host[1]}}</td></tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>