{% extends "layout.html" %}
{% block body %}
<div class="col-sm-8">
    <ol class="breadcrumb">
        <li>Overview</li>
        <li class="active">Product</li>
    </ol>
    {% for group in grouplist %}
        <div class="panel panel-default">
            <div class="panel-heading">{{group[0]}}</div>
            <table class="table">
                <th>IP</th><th>GROUPNAME </th>
                {% for host in hostlist %}
                    {% if host[1]==group[0] %}
                    <tr><td>{{host[0]}}</td><td>{{host[1]}}</td></tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    {% endfor %}
</div>
{% endblock %}